1. Write a Python program to print the numbers from 1 to 10 using a for loop.

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

2. Write a Python program to print the numbers from 20 to 1 using a while loop.

In [ ]:
i=20
while (i>=1):
  print(i)
  i=i-1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

3. Write a program to print even numbers from 1 to 10.

In [ ]:
for i in range(1,11):
  if (i%2==0):
    print(i)

0
2
4
6
8
10

4. Write a program that prompts the user to enter a number n and prints all the numbers from 1 to n.

In [ ]:
n=int(input("Enter a number n: "))
for i in range(1,n):
  print(i)
  i=i+1

Enter a number n 8
1
2
3
4
5
6
7

5. Write a program that prompts the user to enter a number n, and then prints all the odd numbers between 1 and n.

In [ ]:
i=1
n=int(input("Enter a number n: "))
for i in range(1,n):
  if (i%2!=0):
    print(i)

Enter a number n 8
1
3
5
7

6. Write a program that prints 'Happy Birthday!' five times on screen.

In [ ]:
for i in range(1,6):
  print("Happy Birthday!")

Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!

7. Write a program that takes a number n as input from the user and generates the first n terms of the series formed by squaring the
natural numbers. Sample output Enter a number: 6 The first 6 terms of the series are: 149 16 25 36

In [ ]:
n=int(input("Enter a number n: "))
for i in range(1,n):
 print(i*i)

Enter a number n 6
0
1
4
9
16
25

7. Write a program that prompts the user to input a number and prints its multiplication table.

In [ ]:
n=int(input("Enter a number n: "))
for i in range(1,11):
  print(i*n)

Enter a number n 9
0
9
18
27
36
45
54
63
72
81
90

8. Write a Python program to print the first 8 terms of an arithmetic progression starting with 3 and having a common difference of 4. The
program should output the following sequence: 3 7 11 15 19 23 27 31

In [ ]:
for i in range(1,9):
 print(3+(i-1)*4)

3
7
11
15
19
23
27
31

9. Write a Python program to print the first 6 terms of a geometric sequence starting with 2 and having a common ratio of 3. The program
should output the following sequence: 2 6 18 54 162 486

In [ ]:
for i in range(1,7):
 print(2*(3**(i-1)))

2
6
18
54
162
486

10. Write a program that asks the user for a positive integer value. The program should calculate the sum of all the integers from 1 up to the
number entered. For example, if the user enters 20, the loop will find the sum of 1, 2, 3, 4, 20.

In [ ]:
sum=0
n=int(input("Enter a number n: "))
for i in range(1,n+1):
  sum=sum+i
print(sum)

Enter a number n 5
15

11. write a program that takes a positive integer N as input and calculates the sum of the reciprocals of all numbers from 1 up to N. The
program should display the final sum. Output of the program should be like: Enter a positive integer: 5 The sum of reciprocals from 1 to 5
is: 2.28

In [ ]:

n=int(input("Enter a number n: "))
for i in range(1,n+1):#1,5
 sum=sum+1/i             #1/1+1/2+1/3...1/5
print(sum)

Enter a number n 5
2.283333333333333

12. Write a program that prompts the user to enter a number and repeats this process 5 times. The program should accumulate the numbers
entered and then display the final running total. Sample Output: Enter a number: 10 Enter a number: 15 Enter a number: 35 Enter a number:
40 Enter a number: 50 The final running total is: 150

In [ ]:
sum=0
for i in range(1,6):
  n=int(input("Enter a number n: "))
  sum=sum+n
print(sum)

Enter a number n 10
Enter a number n 15
Enter a number n 35
Enter a number n 40
Enter a number n 50
150

13. Write a program that prompts the user to enter a positive integer and calculates its factorial. The factorial of a positive integer 'n' is
denoted as 'n!' and is calculated by multiplying all the integers from 1 to 'n' together. For example, the factorial of 5 (denoted as 5!) is calculated as 1 x 2 x 3 x 4 x 5. The program should display the factorial value if the input is a positive number, or display a message stating that the factorial does not exist for negative numbers. Additionally, for an input of zero, the program should output that the
factorial of 0 is 1.

In [ ]:
n=int(input("Enter a number n: "))
fact = 1
for i in range(1, n + 1):
 fact *= i       #1*2=2,2*3=6,6*4=24
print(fact)

14. Write a Python program that prompts the user to enter a base number and an exponent, and then calculates the power of the base to the exponent. The program should not use the exponentiation operator (**) or the math.pow() function. The program should handle both positive and negative exponents.

In [ ]:
n=int(input("Enter a base number n "))
e=int(input("Enter a exponent e "))      #2*2=4,4*2=8
pow=1
for i in range(1, e+1):
 pow=pow*n
print(pow)